* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Gothic Coding', sans-serif;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;*/
  color: black;
  background-size: cover;
}

#time {
  font-size: 8rem;
}

#leftColumn {
    width:29%;
    display:inline-block;
    vertical-align:top;
}

#centerColumn {
    width:40%;
    align-items: center;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

#rightColumn {
    width:29%;
    display:inline-block;
    vertical-align:top;
}
h1 {
  margin-bottom: 3rem;
  white-space: nowrap;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

h3 {
  margin-top: 2rem;
  opacity: 0.6;
}

@media only screen (max-width: 700px) {
  #time {
    font-size: 4rem;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
  #time {
    font-size: 4rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
  #time {
    font-size: 4rem;
  }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
        
    #time {
    font-size: 3rem;
    }

    h1 {
        font-size: 1rem;
        margin-bottom: 3rem;
        white-space: nowrap;
    }
    
    h2 {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        opacity: 0.6;
    }
    
    h3 {
        font-size: 0.625rem;
        margin-top: 2rem;
        opacity: 0.6;
    }

#leftColumn {
    display:none;
}

#centerColumn {
    width:99%;
    align-items: center;
    text-align: center;
    vertical-align:top;
}

#rightColumn {
    width:80%;
    vertical-align: top;
    }
        
}        
